tbody {
  margin: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: white;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  width: 800px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.profile-container {
  padding : 16px;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
}

.profile-info-section {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  padding-right: 5%;
}

.profile-info-title {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 15px;
}

.profile-edit-button {
  float: right;
  top: -80px;
}

.autocomplete {
  width: 100% !important;
}

.profile-td {
  width: 80px;
  height: 42px;
}

.data-picker div{
  width: 100% !important;
}
.profile-likes-number{
    display: inline-block;
    float: right;
    top: -50px;
    position: relative;
}
